<link href="/static/css/news.css" rel="stylesheet">
<link href="/static/css/mycommon.css" rel="stylesheet">

<style type="text/css">
    .news-detail span{
        font-weight: normal;
    }
</style>

<div class="wrap">
    <div class="news-content clearfix">
        
        $widget.setTemplate("cms/nav").addParam('name',$!{name})
        
        <div class="news-r">
            <div class="news-detail">
                <p class="MsoNormal">
                	基石投资者-跟投者模式简介
                </p>
            </div>
        </div>
    </div>
</div>