@charset "UTF-8";
/*基本布局*/
body { color: #333; line-height: 22px; background: #eaeef1; }
a { color: #333; }
a:hover { color: #51b6f2; }
.wrap { width: 1024px; margin: 0 auto;min-width:1024px; }
/*内容宽度*/
.particulars{ width:1024px; margin:0 auto;}
.content { width: 630px; }
.sidebar { width: 310px; }
.block-list { margin: 0 0 20px; }
.main { min-height: 700px; _height: 700px; }
.font-yen { font-family: 'Microsoft YaHei', STXihei, MingLiu; }
/*background:grey*/
.bg-grey{background: #eaeef1;}
/* CLEARFIX */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*图片垂直居中*/
.vertical-middle { overflow: hidden; text-align: center; font-size: 0; }
.vertical-middle .hook { display: inline-block; width: 0; height: 100%; overflow: hidden; margin-left: -1px; font-size: 0; line-height: 0; vertical-align: middle; }
.vertical-middle img { vertical-align: middle; border: 0 none; }
.s-01,.s-02, .s-03, .s-04, .s-05, .s-06, .s-07, .s-08, .s-09, .s-10{ background:url(../images/icon/icons.png) no-repeat; display: inline-block; }

/*index-header*/
.header {background: #fff;  width: auto;min-width:1350px; }
.header .m-left { float: left; }
.header .m-left h1 { float: left; padding: 14px 0 0 0; }
.header .m-left h1 a { background:url(../images/icon/logo.png) no-repeat; display: block; width: 101px; height: 33px; text-indent: -9999px; }
.header .m-left ul { float: left; padding: 0 0 0 90px; }
.header .m-left ul li { float: left;}
.header .m-left ul li a { font-size: 15px; color: #333333; display: inline-block; line-height: 65px; padding: 0 20px;}
.header .m-left ul li a:hover{color: #ff6633;} 
.header .m-left ul li a:hover .s-01{ background-position: 0 0;}
.header .m-left ul li a:hover .s-02{ background-position: -30px -1px;}
.header .m-left ul li a:hover .s-03{ background:url(../images/icon/ze_03.png) no-repeat; -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); transform:rotate(360deg); transform-origin:center;-webkit-transform-origin:center;-moz-transform-origin:center;-o-transform-origin:center;}
.header .m-left ul li a:hover .s-09{ background-position: -150px -23px;}
.header .m-left ul li a:hover .s-10{ background-position: -188px -23px;}
/*selected start*/
.header .m-left ul li.selected a{color: #ff6633;} 
.header .m-left ul li.selected a .s-01{ background-position: 0 0;}
.header .m-left ul li.selected a .s-02{ background-position: -30px -1px;}
.header .m-left ul li.selected a .s-03{ background:url(../images/icon/ze_03.png) no-repeat; -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); transform:rotate(360deg); transform-origin:center;-webkit-transform-origin:center;-moz-transform-origin:center;-o-transform-origin:center;}
.header .m-left ul li.selected a .s-09{ background-position: -150px -23px;}
.header .m-left ul li.selected a .s-10{ background-position: -188px -23px;}
/*selected end*/
.header .m-left ul li a i{ line-height: 65px; display: inline-block;}
.header .m-left ul li a i.s-01 { overflow: hidden;line-height: 65px; background-position: 0 -23px; width: 17px; height: 15px; vertical-align: middle; margin-right: 5px; margin-bottom: 3px; }
.header .m-left ul li a i.s-02 { background-position: -29px -22px; width: 17px; height: 14px; vertical-align: middle; margin: 0 5px 2px 0;*margin: 0 5px -1px 0; }
.header .m-left ul li a i.s-03{ background:url(../images/icon/ze_06.png) no-repeat; width:12px; height:12px; margin: 0 6px -1px 0; -webkit-transition: all 0.6s ease-out; -moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out;*margin: 0 5px 3px 0; }
.header .m-left ul li a i.s-09 { background-position: -150px -1px; width: 13px; height: 16px; vertical-align: middle; margin: 0 5px 2px 0; }
.header .m-left ul li a i.s-10 { background-position: -188px -1px; width: 15px; height: 15px; vertical-align: middle; margin: 0 5px 2px 0; }
.header .m-right { float: right; width: 420px;position: relative;z-index: 22;}
.header .m-right span { float: left; display: inline-block; margin-top: 20px;position: relative;}
.header .m-right span a{position: absolute;top:7px;right: 12px;}
.header .m-right span a.bh-mhnbo{ background:url(../images/icon/hg-lk_02.png) no-repeat; width: 15px; height: 17px; vertical-align: middle;*margin-bottom: 10px;}
.header .m-right span a.bh-mhnbo:hover{ background:url(../images/icon/hg-lk_03.png) no-repeat;}
.header .m-right span input {border-radius: 5px;text-indent: 5px; outline: none; line-height/*\**/:30px\9;*line-height:30px; padding-right:22px; font-size: 12px; border: none; width: 190px;background: #ebebeb; color: #333333; margin: 0 5px 0 0; height:30px; }
.header .m-right .z-Login { padding: 20px 0 0 28px; }
.header .m-right div a { display: inline-block;height: 30px;line-height: 30px;width: 62px; font-size: 12px; color: #333333; text-align: center;}
.header .m-right div a:hover { color: #f35621; }
.header .m-right div a.z-register {margin-left: 52px; background: #ff6633; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #ffffff; }
.header .m-right div a.z-register:hover { color: #f7f7f7; background: #f35621; }

.hot-list li.charge_margin{margin-right: 0;}

/*focus*/
.hot-project{background: #eceef2;padding-bottom: 20px;}
.focus-box .focus-con { width: 1250px; overflow: hidden; }
.focus-box .focus-con li { height:316px;float: left; padding: 0 16px 25px 0; position: relative; }
.list-item {border-top-right-radius: 5px;border-top-left-radius: 5px; width: 218px; height: 262px; background:#ffffff;padding:13px 13px 0; overflow:hidden; }
.list-item a {position:relative;display:inline-block;}
.list-item a.item-figure {display:block; overflow:hidden;position: relative;}
.list-item a img { width: 218px; height:145px; -webkit-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.list-item a:hover img{-webkit-transform:scale(1.04);-moz-transform:scale(1.04);-o-transform:scale(1.04);transform:scale(1.04);}
.focus-box .focus-con li .being{display: block;width: 66px;height: 63px;top: 0; left: 0; z-index: 2;position: absolute;background: url("../images/icon/being.png");} .hot-list li a{float: left;display: block;position:relative;}
.focus-box .focus-con li .done{display: block;width: 66px;height: 63px;top: 0; left: 0; z-index: 2;position: absolute;background: url("../images/icon/done.png");} .hot-list li a{float: left;display: block;position:relative;}
.p-people{font-size: 12px;color:#cccccc;height: 20px;line-height: 20px;margin-top:10px;margin-bottom: 18px;}
.p-people span{margin-left:8px;color:#333333;display: block;float: left;}
.p-people span.s-border{padding:0 5px;border-radius:5px;color:#ff6633;border:1px solid #ff6633;margin-left: 0;}
.d-money{padding-bottom: 16px;border-bottom:1px solid #f2f2f2;margin-bottom: 6px;}
.d-money p{float: left;padding-top:20px;width: 71px;}
.d-money p.p-w{width: 88px;}
.d-money p.padding-right{padding-right: 0;width: 50px;float: right;}
.d-money p b{color:#000033;font-size: 13px;width: 100%;display: block;margin-bottom:-5px;float: left;}
.d-money p b.y-color{color:#ff6633;}
.d-money p span{color:#999999;font-size: 12px;width: 100%;display: block;float: left;}
.list-item .z-lump { padding: 0 0 15px 0; }
.list-item .z-lump h2 { font-size: 15px;color: #333333; padding: 0 0 15px 0; height: 34px; margin-bottom: 11px;overflow: hidden;}
.list-item .z-lumpt h2{height: 22px;padding-bottom: 0;margin-bottom: 5px;}
.list-item .z-lumpt .p-people{height: 25px;margin-bottom: 10px;margin-top: 0;}
.list-item .z-lumpt .d-money p{padding-top: 0;}
.list-item .z-lump h2 span{font-size: 12px;color:#b0b0b0;}
.list-item .z-lump h2 a { -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; transition: all 0.8s ease; }
.list-item .z-lump h2 a:hover { color: #51b6f2; }
.list-item .z-lump h2 span:hover{color:#51b6f2;}
.list-item .z-lump p.z-raising { font-size: 12px; color: #999; }
.list-item .z-lump p.z-raising em { font-size: 14px; color: #000; font-weight: bold; }
.list-item .z-lump p.z-raising i { font-size: 14px; color: #000; font-weight: bold; }
.list-item .z-lump .progress-bar {border-radius: 5px; width: 218px; height: 6px; line-height: 0px; font-size: 0px; background: #eaeaea; overflow: hidden; margin: 4px 0; }
.list-item .z-lump .progress-bar span { background: #51b6f2; }
.list-item .z-lump .progress-bar span.progress {border-radius: 5px; height: 6px; line-height: 0px; font-size: 0px; display: block; }
.list-item .z-lump .item-rate span.rate1 { float: left; color: #999999;font-size: 12px; }
.list-item .z-lump .item-rate span.rate1 b{ color: #333333; }
.list-item .z-lump .item-rate span.rate2 {float: right; color: #999; }
.list-item .z-lump .item-rate span.rate2 b{ color: #333333; }
.z-assist {background: #f6f7fa; width:218px;line-height: 25px; padding: 8px 13px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; }
.z-assist a{ color: #666; padding: 0 10px 0 18px; display:inline;}
.z-assist a.assist1 {cursor: default; background:url(../images/icon/person.png) no-repeat 0 3px;}
.z-assist a.assist2 {cursor: default; background:url(../images/icon/pill.png) no-repeat 0 3px;}
/*focus success*/ 
.z-document{ float: left;}
.z-document01{ float: right;}
.item-succnd{line-height: 30px; width: 230px; background:#ed5f8a; color: #fff;margin: 3px 0 22px -10px;*margin: 3px 0 22px -10px;}
.item-succnd .rate1{ float: left; padding: 0 0 0 10px;font-weight: bold;font-size: 14px;}
.item-succnd .rate2{ float: right; padding:0 10px 0 0;}
.list-item .z-fdbnn{ padding: 0 10px;}
/*focus online*/
.z-online{font-size: 12px;color: #333;font-weight: bold;}
/*browse all*/
.grey-btn {border-radius:5px;padding: 0 30px; line-height:30px; display: inline-block; font-size: 12px; color: #999999; font-weight: bold; border: 2px #cccccc solid; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; transition: all 0.8s ease;}
.grey-btn:hover { opacity: 1 !important; border: 2px #333 solid; color: #333; }
/*scale public*/
.img-scale{ overflow:hidden;}
.img-scale a{ overflow:hidden;}
.img-scale a img{ -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.img-scale a:hover img{-o-transform:scale(1.04);-moz-transform:scale(1.04);-webkit-transform:scale(1.04);transform:scale(1.04);}

/*page*/
.pager{ text-align:center; margin:30px auto 60px; }
.pager a{ height:42px; line-height:42px;color:#333333;padding:0 14px; background:#ffffff;border-radius:5px;margin:0 4px; font-size:14px; display:inline-block; vertical-align:middle;  }
.pager a.prev{ width:10px; background: #fff url(../images/icon/a_l.png) center no-repeat;}
.pager a.next{ width:10px; background: #fff url(../images/icon/a_r.png) center no-repeat;}
.pager a.prev:hover{ width:10px; background: #fff url(../images/icon/a_l_s.png) center no-repeat;}
.pager a.next:hover{ width:10px; background: #fff url(../images/icon/a_r_s.png) center no-repeat;}
.pager a:hover{color:#51b6f2;}
.pager a.go{width: 40px;padding:0;}
.pager a.selected{ background-color:#51b6f2;color:#fff;}
.pager .input-num{ border-radius: 5px;border:none; margin:0 4px; width:30px; height:42px; line-height:42px; padding:0 5px; vertical-align:middle;}
.pager span{ margin:0 0 0 16px; font-size:12px; display:inline-block;vertical-align:middle;}
.pager .a-left-arrow,.pager .a-right-arrow{padding:0 15px; width:7px; height:12px; display:inline-block; height:38px; }
.pager .a-left-arrow{ background:url(../images/icon/left-arrow.png) no-repeat center;  }
.pager .a-left-arrow:hover{ background:url(../images/icon/blur-left-arrow.png) no-repeat center;}
.pager .a-right-arrow{ background:url(../images/icon/right-arrow.png) no-repeat center;}
.pager .a-right-arrow:hover{  background:url(../images/icon/blur-right-arrow.png) no-repeat center;}
.pager .a-go{ background:url(../images/icon/go.png) no-repeat center;  width:16px; height:9px;height:38px; }
.pager span.change-mar{margin:0 6px 0 0;}
.pager a.padding{padding:0;background: none;}
/*分页箭头点击后的样式*/
.pager a.bg-select01{ background:url(../images/icon/blur-left-arrow.png) #fff no-repeat center;}
.pager a.bg-select02{ background:url(../images/icon/blur-right-arrow.png) #fff  no-repeat center; }


/*弹出层相关样式*/
.pop-bg {background: url("../images/common/bg-pop.png"); left: 0; position: absolute; top: 0; z-index: 22; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/common/bg-pop.png');} 
.pop-container{position: absolute; z-index:23;}
.ui-dialog {*zoom:1; _float: left; position: relative; background-color: #FFF; border: 1px solid #999; outline: 0; font-size: 14px; color: #333; width:300px; }
.ui-dialog-title {margin: 0; line-height: 1.428571429; min-height: 16.428571429px; padding: 15px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: bold; }
.ui-dialog-header {white-space: nowrap; border-bottom: 1px solid #E5E5E5; }
.ui-dialog-body {padding: 20px; text-align: center; }
.ui-dialog-content {display: inline-block; position: relative; vertical-align: middle; *zoom: 1; *display: inline; text-align: left; word-break: break-all; }
.ui-dialog-close {position: relative; _position: absolute; float: right; top: 13px; right: 13px; _height: 26px; padding: 0 4px; font-size: 21px; font-weight: bold; line-height: 1; color: #000; text-shadow: 0 1px 0 #FFF; opacity: .2; filter: alpha(opacity=20); cursor: pointer; background: transparent; _background: #FFF; border: 0; -webkit-appearance: none; }
.ui-dialog-close:hover,
.ui-dialog-close:focus {color: #000000; text-decoration: none; cursor: pointer; outline: 0; opacity: 0.5; filter: alpha(opacity=50); }
.ui-dialog-button {float: right; white-space: nowrap; }
.ui-dialog-footer button+button {margin-bottom: 0; margin-left: 5px; }
.ui-dialog-footer button {width:auto; overflow:visible; display: inline-block; padding: 6px 12px; _margin-left: 5px; margin-bottom: 0; font-size: 14px; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent;  }
.ui-dialog-footer button {background-color: #ebebeb; color: #333333; }
.ui-dialog-footer {padding: 0 15px 15px; }
.ui-dialog-footer button.ui-dialog-autofocus {color: #ffffff; background-color: #55acef;  }
.ui-dialog-footer button.ui-dialog-autofocus:hover,
.ui-dialog-footer button.ui-dialog-autofocus:focus,
.ui-dialog-footer button.ui-dialog-autofocus:active {color: #ffffff; background-color: #55acef; }
.ui-dialog-footer button:hover,
.ui-dialog-footer button:focus,
.ui-dialog-footer button:active {color: #333333; background-color: #e4e4e4; }
/*按钮鼠标滑过特效*/
.btn-effect-gray{ line-height:30px; text-align:center; border:2px solid #ccc;  color:#999999;-webkit-transition: all .8s ease; -moz-transition: all .8s ease; -o-transition: all .8s ease; transition: all .8s ease; padding:0 30px; font-size: 12px; color: #999; }
.btn-effect-gray:hover{ border:2px solid #333; color:#333; }

/*按钮鼠标滑过透明度改变特效*/
.btn-effect-blue{ background:#55acef;-webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; transition: all 0.8s ease;}
.btn-effect-blue:hover{filter: alpha(opacity=80); -moz-opacity: 0.8; -webkit-opacity: 0.8; -o-opacity: 0.8; opacity: 0.8;}
/*鼠标滑过变蓝*/
.mm-blue{text-align:center; border:2px solid #55acef; display:inline-block; color:#55acef;-webkit-transition: all .8s ease; -moz-transition: all .8s ease; -o-transition: all .8s ease; transition: all .8s ease;}
.mm-blue:hover{ background:#55acef; color:#fff;}
/*头部导航下拉菜单*/
.header .m-right .pull-down{float: right;position: relative; width: 119px; border: 1px solid #fff;border-bottom: none; font-size: 14px; color:#000; height: 56px; margin-top: 9px; line-height: 50px;}
.header .m-right .pull-down.active{color:#000;width: 120px; background: #ffffff; border: 1px solid #eaeaea;border-bottom: none;}
.header .m-right .pull-down em{width: 87px;overflow: hidden;vertical-align: baseline; color: #000; height: 56px; display: inline-block; float: right; text-align: right;}
.header .m-right .pull-down.active em{color: #000;width: 64px;overflow: hidden;}
.menu-down{display:none;width: 120px; height: 144px; background: #fff; color: #000; z-index: 20; position: absolute; top:65px; right:0; border: 1px solid #eaeaea;border-top: none;}
.header .m-right .pull-down .meun-01{margin-left:2px;padding-right:16px;margin-top:22px;display: block; width: 14px; height: 12px; float: right; background: url("../images/icon/user-icons.png") no-repeat scroll -72px -2px; }
.header .m-right .active .meun-01{margin-left:2px;padding-right:16px;margin-top:22px;display: block; width: 14px; height: 12px; float: right; background: url("../images/icon/user-icons.png"); background-position: 0 0; }
.header .m-right div.menu-down ul li a{background: #fff; color:#000; width: 72px; line-height: 36px; height: 36px; padding-left: 48px; font-size: 13px; text-align: left; }
.header .m-right div.menu-down ul li a:hover{color: #51b6f2; }
.header .m-right div.menu-down ul li{position: relative; }
.header .m-right div.menu-down ul li i{display: block; width: 16px; height: 16px; background: url("../images/icon/user-icons.png"); position: absolute; left: 24px; top:13px; }
.header .m-right div.menu-down ul li i.down-menu01{background-position: 0 -26px; }
.header .m-right div.menu-down ul li i.down-menu02{background-position: 1px -65px; top:11px; }
.header .m-right div.menu-down ul li i.down-menu03{background-position: 0 -105px; }
.header .m-right div.menu-down ul li i.down-menu04{background-position: 0 -136px; top:10px; }

.header .m-right div.menu-down ul li a:hover i.down-menu01{background-position: 17px -26px; }
.header .m-right div.menu-down ul li a:hover i.down-menu02{background-position: 18px -65px; top:11px; }
.header .m-right div.menu-down ul li a:hover i.down-menu03{background-position: 17px -106px; }
.header .m-right div.menu-down ul li a:hover i.down-menu04{background-position: 17px -136px; top:10px; }

/*by xiaofengyun*/
.btn-sub { color: #fff;font-size: 18px; display: inline-block;height: 50px; line-height: 50px; text-align: center }
.btn-sub:hover{color:#fff;}
.wrap-1024{width: 1024px;margin:0 auto;;margin-bottom: 20px;}
.w170{width: 170px;}
.w217{width: 217px;}
.error-text{display: block;font-size: 12px;line-height: 12px;height: 18px;color: #ed5f59;}
.a-btn{ background:#55acef; height:44px; line-height:44px; display:block; width:100%; color:#fff; font-size:18px; text-align:center;}
.hidden{display: none;}

.ad p{padding-top: 56px;}
.ad p .a-p{margin:30px auto 0;}
.a-btn{width: 168px;height: 52px;line-height:52px;text-align: center;font-size: 18px;color:#51b6f2;display: block;background: none;border:2px solid #51b6f2;border-radius: 5px;}
.a-btn:hover{color:#ffffff;background:#51b6f2;border:1px solid #51b6f2; }
/*footer*/
.footer{background: #fff; border-top:1px solid #eaeaea; }
.footer .wrapper{ width:1018px; height:78px; margin: 0 auto; }
.footer .f1{ margin-top:35px; float:right; }
.footer .f1 span{ font-weight:700; display:inline-block; }
.footer .f1 .f11{ color:#d3d3d3;font-size:20px; }
.footer .f1 .f12{ color:#51b6f2;font-size:22px; }
.footer .f2{ margin-top:22px; float:left; font-size:10px;color:#ababab; }
.footer .f2 a{ font-size:10px;color:#ababab; }
.footer .f2 a:hover{color:#51b6f2;}
.s-num{z-index:2;display: block;width: 45px;height: 16px;background: #333333;border-radius:5px;color:#ffffff;font-size:10px;text-align:right;line-height:16px;padding-right:5px;position: absolute;top:5px;right: 10px;background:rgba(0,0,0,0.35);}
.s-num.like{color:#f63;}
.s-num.unlike{color:#fff;}
.s-num i{float:left;display: block;margin-top:4px;margin-left:8px;width: 10px;height: 8px;background:url("../images/icon/heart.png") no-repeat;}
.s-num.like i{ background:url(../images/icon/heart02.png) }
.s-num.unlike i{ background:url(../images/icon/heart.png)}
.s-num span{display: block;float:right;font-size: 10px;}

.form-item input[type="text"]:focus,
.form-item textarea:focus,
.form-item .row textarea:focus,
.form-item  input[type="password"]:focus{border:1px solid #55acef;}
input{outline: none;}
/*by xiaofengyun*/
/*按钮类*/
.btn{border-width:1px;border-style:solid;border-radius:5px;display:inline-block;vertical-align:middle;text-align:center;}
.btn-grey{padding:7px 24px;border-color:#ddd;color:#bbb;border-width:2px;}
.btn-small{padding:0 5px;height: 18px;line-height: 18px;overflow:hidden;}
.btn-thin{border-width:2px;padding:0 12px;height: 21px;line-height: 21px;}
.btn-big{width: 130px;height: 38px;line-height: 38px;text-align:center;}
.btn-pop{width: 98px;height: 40px;line-height: 40px;text-align:center;font-size: 14px;color:#fff;}
.btn-pop:hover{color:#fff;}
.btn-green{color:#51b6f2;}
.btn-orange{color:#f63;}
/*背景类*/
.bg-orange{background-color:#f63;color:#fff;}
.bg-orange:hover{background-color:#f35621;color:#fff;}
.bg-green{background-color:#51b6f2;}
.bg-green1{background-color:#51b6f2;color:#fff;border:none}
.bg-green1:hover{background-color:#00AA8D;color:#fff}
.bg-grey{background-color: #F7F9FB;}


.add-btn{width: 72px;height: 64px;background:url(../images/project/add_btn.png);cursor:pointer;margin-right: 12px;}
input[type='file']{width: 72px;height: 64px;opacity:0;filter:alpha(opacity:0);position:absolute;}
.authen-hd,.cashier-hd{border-bottom:1px solid #ececec;}
.cashier-hd{padding-top: 36px;margin:0 40px 26px;}
.cashier-hd li,.authen-hd li{float:left;height: 40px;line-height: 40px;text-align:center;font-size: 14px;border-radius:5px 5px 0 0;margin-right: 5px;background-color: #bacad8;color:#fff;cursor:pointer;}
.cashier-hd li{width: 124px;}
.authen-hd li{width: 147px;}
.cashier-hd li.selected,.authen-hd li.selected{background-color: #51b6f2;}

.pro-pop-con {background-color: #f5f7f7; border-radius: 2px;width: 650px; }
.pro-pop-tit {background: url("../images/project/pop_tit_bg.png"); color: #fff; font-size: 20px; height: 55px; line-height: 55px; position: relative; text-align: center; }
.pop_close {background: url("../images/project/pop_close.png"); cursor: pointer; height: 16px; margin-top: -8px; position: absolute; right: 35px; top: 50%; width: 16px; }

.wx-inputErrBorder{border-color: red;}