@charset "UTF-8";
h6.project-h6{
	font-size: 14px;
	color: #999999;
	padding-bottom: 14px;
    padding-top: 20px;
}
h6.project-h6 span{
	color:#333333;
}
.grey-line{
	/*height: 426px;*/
        height:460px;
	width: 10px;
	background: #bacad8;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}
.project-content{
	width: 414px;
	/*height: 310px;*/
        height: 344px;
	background: #ffffff;
	float: left;
	padding:56px 48px 60px 30px;
}
.project-content h5{
	font-size: 24px;
	color:#333333;
}
.project-content .p-info{
	font-size: 16px;
	color:#333333;
	padding-top: 14px;
	padding-bottom: 28px;
}
.project-content .p-money{
  color:#333333;
  font-size: 14px;
}
.project-content .p-money span{
	font-size: 26px;
	font-weight: bold;
	
}
.project-content .em-text{
	color:#999999;
	font-size: 12px;
}
.project-content .money-list{
  border-top:2px solid #f1f1f1;
  border-bottom:2px solid #f1f1f1;
  padding-top: 18px;
  padding-bottom: 14px;
  margin-bottom: 18px;
  margin-top: 20px;
}
.project-content .money-list li{
  float: left;  
  font-size: 26px;
  font-weight: bold;
  color:#333333;
  text-align: center;
  height: 56px;
}
.project-content .money-list li i{
	font-size: 14px;
	font-weight: normal;
}
.project-content .money-list li em{
	color: #999999;
	font-size: 12px;
	display: block;
}
.project-content .money-list li.w112{
	width: 112px;
}
.project-content .money-list li.w118{
	width: 118px;
}
.project-content .money-list li.w160{
	width: 160px;
	border-left: 2px solid #f5f7f9;
	border-right: 2px solid #f5f7f9;
}
.yy-money{
	font-size: 14px;
	color:#999999;
}
.yy-money span{
	color:#333333;
}
.money-progress{
	background: #f1f1f1;
	height: 10px;
	border-radius: 5px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.money-progress i{
	display: block;
	background: #51b6f2;
	border-radius: 5px;
	height: 100%;
}
.money-info i{
	font-size: 13px;
}
.money-info em{
	font-size: 13px;
	color:#999999;
}
.money-info em span{
	color:#333333;	
}
.grey-line.line-height{
	height: 184px;
}
.d-marginTB{
	margin-top: 20px;
	margin-bottom: 20px;
}
.d-marginTB .d-bg{
	background: #ffffff;
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 152px;
	width: 946px;
	padding-left: 32px;
	padding-top: 32px;
	padding-right: 36px;
	position: relative;
}
.d-marginTB .d-bg h4{
	font-size: 16px;
	color:#333333;
	font-weight: bold;
	margin-bottom: 20px;
}
.p-orange{
	color:#ff6633;
	font-size: 13px;
}
.p-dark{
	color:#333333;
	font-size: 13px;
}
.d-marginTB .d-bg i{
	display: block;
	position: absolute;
	right: 0;
	top:0;
	
}
.d-marginTB .d-bg i.i-image01{
	background: url("../images/icon/image11.png") no-repeat;	
	width: 121px;
	height: 108px;
}
.d-marginTB .d-bg.bg-image{
	background-image: url("../images/icon/image12.png");	
	background-repeat: no-repeat;
	background-position: top right;
}
.form-list{
	width: 522px;
	/*height: 414px;*/
        height:450px;
	background:#fef6e5;
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: 5px;
	position: relative;
}
.form-list em{
	background: url("../images/icon/pink_icon.png") no-repeat;
	width: 34px;
	height: 67px;
	position: absolute;
	left: -34px;
	top:176px;
}
.form-input{
	margin-top: 32px;
	margin-left: 16px;
}
.form-input .row-input{
	margin-bottom: 11px;
	margin-right: 78px;
	height: 40px;
}
.form-input .row-input label{
	font-size: 13px;
	color:#333333;
	float: left;
	display: block;
	width: 68px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-right: 8px;
}
.form-input .row-input input[type='text']{
	height: 38px;
	line-height: 38px;
	border:1px solid #d1d8dc;
	border-radius: 5px;
	width: 350px;
	float: left;
	text-indent: 16px;
	color:#fe6633;
	font-size: 18px;
	font-weight: bold;
}
.form-input .row-input input:focus{
	border-color:#fe8077;
	
}
.form-input .row-input input.tz-money{
	padding-right: 36px;
	position: relative;
	width: 314px;
}
.form-input .row-input i.unit{
	display: block;
	position: absolute;
	width: 36px;
	height: 100%;
	line-height: 100%;
	right: 76px;
	top:46px;
	color:#cccccc;
	font-size: 13px;
}

.form-input .row-input .agree{
	color:#666666;
	font-size: 12px;
	margin-right: -44px;
	display: inline-block;
	*display: inline-block;
	display: inline!important;
}
.form-input .row-input .agree a{
	color:#51b6f2;	
	margin-right: -4px;
}
.form-input .row-input .agree a:hover{
    text-decoration: underline;
}
.form-input .row-input .span-color{
	color:#ff6633;
	height: 52px;
	line-height: 52px;
	display: block;
	float: left;
	margin-top: -16px;
}
.form-input .row-input .span-color.s-m{
	margin-right: 40px;
}
.form-input .row-input .span-color i{
	font-size: 40px;
	font-weight: bold;
}
.form-input .row-input a.sure-order{	
	padding:0 140px;
	font-size: 18px;
	height: 52px;
	line-height: 52px;
	display: inline-block;
	color:#ffffff;
	background: #ff6633;
	border-radius: 5px;
}

.fee{display: inline-block;color:#ff6633;font-size: 24px;font-weight: bold;padding-top: 6px;}