<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengduo.bee.data.dao.WithdrawDao">
	<resultMap id="BaseResultMap" type="com.fengduo.bee.model.entity.Withdraw">
		<id column="id" property="id" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="item_id" property="itemId" />
		<result column="payee_id" property="payeeId" />
		<result column="payee_company" property="payeeCompany" />
		<result column="operator_id" property="operatorId" />
		<result column="operate_date" property="operateDate" />
		<result column="operator_name" property="operatorName" />
		<result column="status" property="status" />
		<result column="amount" property="amount" />
		<result column="withdraw_type" property="withdrawType" />
		<result column="memo" property="memo" />
	</resultMap>

  	<sql id="table_columns_without_id">
  		`create_date`,`update_date`,`item_id`,`payee_id`,`payee_company`,`operator_id`,`operate_date`,`operator_name`,
  		`status`,`amount`,`withdraw_type`,`memo`
   	</sql>
  
  	<sql id="columns" >
  		ID,<include refid="table_columns_without_id"/>
  	</sql>

	<sql id="table_name" >
  		withdraw
  	</sql>
  	
	<insert id="insert" parameterType="com.fengduo.bee.model.entity.Withdraw" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO <include refid="table_name"/> (<include refid="columns"/>)
		VALUES (#{id},now(),now(),#{itemId},#{payeeId},#{payeeCompany},#{operatorId},#{operateDate},#{operatorName},
		       #{status},#{amount},#{withdrawType},#{memo})
	</insert>
  	
  	<sql id="orderby_clause">
        <if test="sort !=null and sort == '' ">
			order by ID DESC
		</if>
        <if test="sort !=null and sort == 'id' ">
			order by ID DESC
		</if>
    </sql>
    
  	<sql id="query_where_clause">
  		<trim prefix="where" prefixOverrides="and|or"> 
  			<if test="id !=null ">  
	            ID = #{id}
	        </if> 
	        <if test="itemId !=null ">  
	           and item_id = #{itemId}
	        </if> 
	         <if test="payeeId != null">  
	            and payee_id = #{payeeId}
	        </if> 
	        <if test="operatorId != null">  
	           and operator_id = #{operatorId}
	        </if> 
	         <if test="status != null">  
	           and status = #{status}
	        </if> 
	         <if test="withdrawType != null">  
	           and withdraw_type = #{withdrawType}
	        </if> 
	    </trim> 
  	</sql>
  		
  	<sql id="update_where_clause">
		<trim prefix="where" prefixOverrides="and|or"> 
	        <if test="id !=null ">  
	            ID = #{id}
	        </if> 
	    </trim>
   	</sql>
  		
  	<sql id="update_set_clause">
  		<trim prefix="set" suffixOverrides=",">  
  			update_date = now(),
	         <if test="payeeId !=null">  
	            payee_id = #{payeeId},
	        </if>
	        <if test="payeeCompany !=null and payeeCompany != '' ">  
	            payee_company = #{payeeCompany},
	        </if>
	        <if test="operatorId !=null">  
	            operator_id = #{operatorId},
	        </if>
	        <if test="operateDate !=null ">  
	            operate_date = #{operateDate},
	        </if>
	        <if test="operatorName !=null and operatorName != '' ">  
	            operator_name = #{operatorName},
	        </if>
	        <if test="status !=null ">  
	            status = #{status},
	        </if>
	         <if test="amount !=null ">  
	            amount = #{amount},
	        </if>
	         <if test="withdrawType !=null ">  
	            withdrawType = #{withdrawType},
	        </if>
	         <if test="memo !=null and memo != '' ">  
	            memo = #{memo}
	        </if>
   		</trim>
  	</sql>
  	
  		
  	<select id="list" resultMap="BaseResultMap" parameterType="com.fengduo.bee.commons.persistence.Parameter">
   		select  <include refid="columns" /> 
   		from <include refid="table_name" /> 
   		<include refid="query_where_clause"/>
   		<include refid="orderby_clause"/>
  	</select>
  	
  	<select id="find" resultMap="BaseResultMap" parameterType="com.fengduo.bee.commons.persistence.Parameter" >
  		select <include refid="columns"/>
        from <include refid="table_name" />
        <include refid="query_where_clause"/>
        <include refid="orderby_clause"/>
        limit 1
  	</select>
  
  	<select id="listPagination" resultMap="BaseResultMap" parameterType="com.fengduo.bee.commons.persistence.Parameter">
		select <include refid="columns"/>
		from <include refid="table_name" /> 
		<include refid="query_where_clause"/>
		<include refid="orderby_clause"/>
		<include refid="PAGINATION.MYSQL_PAGINATION" />
  	</select>
  	
  	<select id="count" resultType="java.lang.Integer" parameterType="com.fengduo.bee.commons.persistence.Parameter">
  		select count(1)
        from <include refid="table_name" />  
       	<include refid="query_where_clause"/>
   	</select>
  	
   	<update id="update" parameterType="com.fengduo.bee.model.entity.Withdraw">
   		update <include refid="table_name" /> 
       	<include refid="update_set_clause"/>
       	<include refid="update_where_clause"/>
  	</update>
  	
  	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Number" >
  		select <include refid="columns" /> 
  		from <include refid="table_name" /> 
  		where ID = #{id}
  	</select>
  
   	<update id="updateById" parameterType="com.fengduo.bee.model.entity.Withdraw">
   		update <include refid="table_name" /> 
   		<include refid="update_set_clause"/>
	    where ID = #{id}
  	</update>
  	
  	
  	<delete id="deleteById" parameterType="java.lang.Number">
  		delete from <include refid="table_name" /> where ID = #{id}
  	</delete>
   	
 
</mapper>