<link href="/static/css/user.css" rel="stylesheet">

<div class="bg-grey bg-grey-padding clearfix">
    <div class="wrap" style="min-width: 1324px;">
        <div class="user_l">
	        <div class="head-info">
	            #set($u=${webUser.getPrincipal().getUser()})
	            <a href="javascript:void(0);" class="head-box">
	            	<img #if($!{u.avatar}) src="$!{u.avatar}" #else src="/static/images/defaultUser1.png" #end>
	            </a>
	            <p class="user-name">$!{u.displayName}</p>
	            <div class="clearfix project-action">
	                <p class="p-wf p-l">
	                    <a href="/user/identity" class="identiy">实名认证</a>
	                    <a href="/user/setting" class="person-info">个人资料</a>
	                </p>
	                <p class="p-wf p-r">
	                    <a href="/address/index" class="message">地址</a>
	                    <a href="/user/resetpwd" class="set">设置</a>
	                </p>
	            </div>
	        </div>
	        <div class="project-info">
		        <ul>
		            <li class="selected selected-radius-t"><a href="/my/launch/1">我发起的项目</a></li>
		            <li><a href="/my/invest/1">我认购的项目</a></li>
		            <li><a href="/my/order/1">我的订单</a></li>
		            <li><a href="/my/follow/1">关注的项目</a></li>
		        </ul>
	    	</div>
		</div>
		<div class="user_r" style="width: 1032px;">
		    <ul class="project-list-nav clearfix">
		        <li class="cell01" style="width: 170px;">项目</li>
		        <li class="cell02" style="width: 170px;">项目名称</li>
		        <li class="cell03">筹资目标</li>
		        <li class="cell04 js-show-menu cell04-title" style="width: 170px;">
		            <a>全部<i class="up"></i></a>
		            <ul class="menu-drop" style="display: none;">
		                <li class="type-default"><a href="#">全部</a></li>
		                <li><a href="#">未发布</a></li>
		                <li><a href="#">审核中</a></li>
		                <li><a href="#">未通过</a></li>
		                <li><a href="#">预约中</a></li>
		                <li><a href="#">发行中</a></li>
		                <li><a href="#">已结束</a></li>
		            </ul>
		        </li>
		        <li class="cell05">发起人</li>
		        <li class="cell06" style="width: 100px;">基石投资人</li>
		        <li class="cell07">操作</li>
		    </ul>
	    	#foreach($item in $!itemList)
		    <div class="project-list-content clearfix">
		        <ul>
		            <li class="cell01" style="width: 170px;">
		            	<a target="_blank" href="/item/$!{item.itemId}/edit">
		            		<img src="$!{item.imgZf}">
		            	</a>
		            </li>
		            <li class="cell02" style="width: 170px;">
		                <h4>
		                	<a target="_blank" href="#">$!{item.name}</a>
		                </h4>
		            </li>
		            <li class="cell03"><em>#if($!{itemFull.amount}) $!{itemFull.amount} #else 0 #end 万 </em><p></p></li>
		            <li class="cell04" style="width: 170px;">$!{enumViewTools.progressEnumName($!item.progress)}</li>
		            <li class="cell05">$!{userName}</li>
		            <li class="cell06" style="width: 100px;">无</li>
		            <li class="cell07">
		               <a target="_blank" href="/item/$!{item.itemId}/edit">修改项目</a>
		            </li>
		        </ul>
		    </div>
	        #end
		    <div class="line-dashed"></div>
			<div class="pager"> </div>
		</div>
	</div>
</div>

<script>
$(".menu-drop").click(function () {
	var isShow = $('.menu-drop').css("display");
	if(isShow == 'none'){
		$('.menu-drop').css("display","block")
	}else{
		$('.menu-drop').css("display","none")
	}
});
</script>